.elgg-page-default .elgg-page-header > .elgg-inner {
	max-width: none;
	padding: 0 !important;
	margin: 0 !important;
}

.cover-hero {
	position: relative;
	min-height: $(profile-cover-height, 16rem) !important;
	max-width: 100% !important;
	width: 100% !important;
	left: 0 !important;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: flex-end;
	padding-top: 1rem;
}

.cover-hero .cover-image {
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50%;
	background-color: $(background-color-highlight);
}

.cover-hero-header, .cover-hero-body {
	padding: 0 1rem;
}

@media $(media-desktop-up) {
	.cover-hero-header, .cover-hero-body {
		padding: 0;
	}
}

.cover-hero-header > .elgg-inner,
.cover-hero-body > .elgg-inner,
.cover-hero-footer > .elgg-inner {
	max-width: 80rem;
	margin: 0 auto;
	position: relative;
}

.elgg-menu-hero {
	flex-wrap: wrap;
}

.elgg-menu-hero > li > a {
	padding: 1rem;
	color: #fff;
	text-shadow: 1px 1px #000;
	text-decoration: none;
	border-bottom: 4px solid transparent;
	transition: border 0.5s;
	text-transform: uppercase;
	font-size: 0.8rem;
	letter-spacing: 1px;
	font-weight: 300;

}

.cover-hero-header {
	margin-bottom: 2rem;
}

.cover-hero-footer {
	margin-top: 2rem;
}

.elgg-menu-hero-container {
	border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.elgg-menu-hero > li:hover > a,
.elgg-menu-hero > li.elgg-state-selected > a {
	border-bottom-color: $(border-color-highlight);
}

.elgg-menu-cover > li > a:after {
	display: none !important;
}

.cover-hero .cover-owner-details {
	align-items: center;
}

.cover-owner-details > .elgg-image img {
	border-radius: 50%;
}

.cover-hero .cover-owner-name a {
	font-size: 2.2rem;
	line-height: 2.5 . rem;
	color: rgba(255, 255, 255, 0.9);
	text-shadow: 1px 1px #000;
	text-decoration: none;
	font-weight: 300;
}

.cover-hero-body .elgg-listing-imprint * {
	color: #fff;
	text-shadow: 1px 1px #000;
	font-size: 0.75rem;
}

.cover-hero .cover-owner-details > .elgg-image {
	margin-right: 2rem;
}

.elgg-menu-hero > li:not(:last-child) {
	margin-right: 0.5rem;
}

.cover-hero .cover-image:before {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(41, 42, 37, 0.34);
	content: "";
}

.elgg-menu-cover {
	justify-content: flex-end;
}

.elgg-menu-cover > li {
	margin-left: 0.5rem;
}

.elgg-menu-cover > li > a {
	border: 1px solid rgba(255, 255, 255, 0.3);
	width: 2rem;
	height: 2rem;
	text-align: center;
	line-height: 2rem;
	border-radius: 50%;
	color: #fff;
	text-shadow: 1px 1px #000;
	font-size: 0.8rem;
	vertical-align: middle;
	display: inline-block;
	text-decoration: none;

&
:hover {
	color: white;
	background: $(background-color-highlight);
}

}

#cover-edit-menu {
	max-width: 12rem;
	padding: 0;

.elgg-menu-hover {
	display: block;
	position: relative;
}

}

.cover-hero-body > .elgg-inner {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.cover-hero-body > .elgg-inner > .cover-owner-actions {
	margin-top: 2rem;
	margin-left: 0;
}

@media $(media-tablet-up ) {
	.cover-hero-body > .elgg-inner > .cover-owner-actions {
		margin-left: auto;
	}
}

@media $(media-desktop-up) {
	.cover-hero-body > .elgg-inner > .cover-owner-actions {
		margin-top: 0;
		margin-left: auto;
	}
}

.elgg-menu-actions {
	flex-wrap: wrap;
}

.elgg-menu-actions > li:not(:first-child) {
	margin-left: 0.5rem;
}

.elgg-menu-action > li > a {
	box-shadow: 1px 1px #000;
	margin: 2px;
}

.cover-hero-footer .cover-attribution {
	color: rgba(255, 255, 255, 0.3);
	font-size: 10px;
	right: 0;
	position: absolute;
	padding: .5rem;
	margin-top: -1.75rem;
}

.cover-hero-footer .cover-attribution a {
	color: rgba(255, 255, 255, 0.3);
}

.cover-hero-footer .cover-attribution .cover-provider {
	margin-left: 0.5rem;
}

@media $(media-tablet-up) {
	.cover-hero .ui-resizable-sw:after {
		content: "\25e2";
		color: #fff;
		position: absolute;
		right: 0;
		bottom: 0;
		line-height: 1rem;
		font-size: 1rem;
		margin: 0;
		cursor: row-resize;
	}
}